@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;

}

header {

    background-color: #1F2937;
    color: #fff;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15rem;
    margin: 0;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    flex-shrink: 0;
}

.nav-items {
    flex-shrink: 0;
    display: flex;
    gap: 15px;
}

/* 
main {
    margin-top: 0;
} */

.hero-content {
    background-color: #1F2937;
    /* margin-top: 0; */
    padding: 55px 15rem;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 115px;
    flex-wrap: wrap;
}


.hero-left {
    width: 50vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

.hero-right {
    flex: 1;
    margin-left: 50px;
    height: 220px;
    min-width: 200px;
    background-color: #828488;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    /* margin: 10px 0; */
    margin: 0;

}

#sec-text {
    color: #EFE7EB;
    /* margin: 10px 0; */
    margin: 0;
    font-size: 18px;
}

.signup-button {
    background-color: #3882F6;
    max-width: 75px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
}

.info-list {
    padding: 60px 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-heading {
    /* padding-top: 30px; */
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#info-list-items {
    padding: 35px 40px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.item-container {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-pic {
    height: 140px;
    width: 140px;
    border: 2.5px solid #3882F6;
    border-radius: 10px;
}

.item-container div {
    color: #1F2937;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.quote-container {
    padding: 40px 18rem;
    background-color: #E5E7EB;
}

#quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#quote-author {
    padding: 15px 20px;
    text-align: end;
    font-weight: bold;
    font-size: 22px;
}

.cta-container {
    margin: 40px 15rem;
    padding: 40px 50px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #EFE7EB;
}

.cta {
    border: 2.5px solid #EFE7EB;
    border-radius: 5px;
    padding: 8px 15px;
}

.signup-button:hover {
    cursor: pointer;
}

footer {
    background-color: #1F2937;
    /* height: 30px; */
    text-align: center;
    padding: 10px;
    color: #EFE7EB;

}